<!-- base -> base_nav -> base_something -->
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ url_for('static', path='css/reset.css') }}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}"> <!-- Resource style -->
	<script src="{{ url_for('static', path='js/modernizr.js') }}"></script> <!-- Modernizr -->
	<link id="favicon" rel="icon" type="image/x-icon" href="{{ url_for('static', path='img/favicon.ico') }}">
	<!-- CSS only -->
	<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css" rel="stylesheet">
<!--	<script src="https://unpkg.com/vue@next"></script>-->
	<title>signHyper管理面板</title>
</head>
<body>
	{% block nav %}{% endblock %}
	{% block main %} {% endblock %}
	<script src="{{ url_for('static', path='js/jquery-2.1.4.js') }}"></script>
	<script src="{{ url_for('static', path='js/velocity.min.js') }}"></script>
	<script src="{{ url_for('static', path='js/main.js') }}"></script><!-- Resource jQuery -->
	<script src="{{ url_for('static', path='js/jd.js') }}"></script><!-- Resource jQuery -->
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"></script>
	{% block script %}{% endblock %}
</body>
</html>